
.title {
    margin-bottom: 30px;
    position: relative;

}

.title::before{
    content: "";
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
    height: 5px;
    border-radius: 100px;
    width: 100px;
    background: white;
}



.title::after {
    width: 35px;
    background: #037fff;
}

.title::after {
    content: "";
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
    height: 5px;
    border-radius: 100px;
}




.title h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-family: Nunito, sans-serif;
    color: #fff;
    margin: 0;
}


