.skillsBlock {
    background-color: #77bc77;
}

.skillsContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.skills {

    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    background-color: #cc48ff;
}