.mainBlock {
    /*height: 100vh;*/
    background-color: antiquewhite;
}



.text {
    width: 300px;
    background-color: aliceblue;

}

.photo {
    width: 300px;
    height: 400px;
    border: 1px solid;

}